<div class="container-fluid">
    <div class="container-fluid bg-warning justify-content-center p-5">
        <h1 class="text-center text-uppercase">software developer</h1>
        <div class="d-flex justify-content-center  ">
            <span>Creative <i class="fas fa-angle-double-right"></i></span>
            <span>Passionate <i class="fas fa-angle-double-right"></i></span>
            <span>Hard working<i class="fas fa-angle-double-right"></i></span>
        </div>
    </div>
    <div class="container-fluid p-3">
        <article class=" row justify-content-center">
            <img class="col-md-6 w-50 h-50" src="/images/profile.png" alt="img" />
            <div class="container col-md-6 mt-5">
                <h1>ABOUT ME</h1>
                <p>
                    Myself <b>Franc Rodrigues</b><br>
                    <h6>EDUCATION</h6>
                    <p> <b>Diploma in Mechtronics from N.T.T.F</b> </p>
                    <p> <b> B.E in Computer Engineering from Don Bosco College of Engineering</b></p>
                    Currently undergoing training in <b> Full Stack Development</b> and actievly seeking for the
                    employment.
                </p>
                <h6>ABOUT PROJECT</h6>
                <P>I have developed this project using Express and MongoDB and renderd using handlebars</P>
                <p>In this project i have used some functionality such has dynamic routing,mongoDB connection and usedd
                    data base for storage values</p>
                <p>
                    For Frontend purpose i have used some CSS and bootstrap classes which the look responsive and eye
                    catching..
                </p>
                <a
                    href="https://accounts.google.com/servicelogin/signinchooser?flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                    <button class="btn btn-lg btn-primary">HIRE ME</button></a>
                <button class="btn btn-lg btn-primary">DOWWNLOAD </button>
            </div>
        </article>
    </div>
    <section>
        <h1 class="text-center">HObbies</h1>
        <div class="container-fluid  ">
            <div class="row">
                <article class="col-md-4 p-3 text-center bg-primary p-5">
                    <i class="fas fa-calendar-check text-white" style="font-size:50px"></i>
                    <h2 class=" text-white">punctual</h2>
                    <p class="text-white">
                        Alwas punctual and devoted to work.
                    </p>
                </article>
                <article class="col-md-4 p-3 text-center bg-warning p-5">
                    <i class="fas fa-rocket text-white" style="font-size:50px;"></i>
                    <h2 class="text-white">creativity</h2>
                    <p class="text-white">
                        Always unique and out of box.
                    </p>
                </article>
                <article class="col-md-4 p-3 text-center bg-danger p-5">
                    <i class="fas fa-mobile text-white" style="font-size: 50px;"></i>
                    <h2 class="text-white">Responsive design</h2>
                    <p class="text-white">
                        Love to make site responsive
                    </p>
                </article>
                <article class="col-md-4 p-3 text-center bg-danger p-5">
                    <i class="fas fa-cogs text-white" style="font-size: 50px;"></i>
                    <h2 class="text-white">Hard work</h2>
                    <p class="text-white">
                        Giving the best in everything I do.
                    </p>
                </article>
                <article class="col-md-4 p-3 text-center bg-primary p-5">
                    <i class="fas fa-laptop text-white" style="font-size:50px"></i>
                    <h2 class="text-white">Development</h2>
                    <p class="text-white">
                        Love to code
                </article>
                <article class="col-md-4 p-3 text-center bg-warning p-5">
                    <i class="fas fa-camera text-white" style="font-size: 50px;"></i>
                    <h2 class="text-white">photography</h2>
                    <p class="text-white">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, iusto.
                    </p>
                </article>
            </div>
    </section>
    <div class="container-fluid p-5  mt-3" id="awards">
        <h1 class="text-center mt-2 text-white">Awards</h1>
        <div class="row">

            <div class="p-3 text-center col-md-3">
                <i class="fas fa-users text-white"></i>
                <h1 class="text-white">100</h1>
                <h1 class="text-white">Happy clients</h1>
            </div>
            <div class="p-3 text-center col-md-3">
                <i class="fas fa-thumbs-up text-white"></i>
                <h1 class="text-white">100</h1>
                <h1 class="text-white">Happy clients</h1>
            </div>
            <div class="p-3 text-center col-md-3">
                <i class="fas fa-edit text-white"></i>
                <h1 class="text-white">100</h1>
                <h1 class="text-white">Happy clients</h1>
            </div>
            <div class="p-3 text-center col-md-3">
                <i class="fas fa-trophy text-white"></i>
                <h1 class="text-white">100</h1>
                <h1 class="text-white">Happy clients</h1>
            </div>



        </div>
    </div>
    <section class="container-fluid m-2 ">
        <h1 class="text-center text-uppercase p-4">Projects</h1>
        <div class="row">
            <div class=" col-md-3 mt-1 project-one ">
                <img class="rounded" src="/images/portfolio-0.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-1 project-one">
                <img class="rounded" src="/images/portfolio-1.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-1 project-one">
                <img class="rounded" src="/images/portfolio-3.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-1 rounded project-one">
                <img class="rounded" src="/images/portfolio-4.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-3 rounded project-one">
                <img class="rounded" src="/images/portfolio-5.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-3 rounded project-one">
                <img class="rounded" src="/images/portfolio-6.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-3 project-one rounded ">
                <img class="rounded" src="/images/portfolio-7.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
            <div class=" col-md-3 mt-3 rounded project-one">
                <img class="rounded" src="/images/portfolio-5.jpeg" alt="portfolio" width="280px" height="220px">
                <a href="#" class="projects__single-project-icon">
                    <i class="fas fa-search icon"></i>
                </a>
            </div>
        </div>


    </section>

</div>